*,
*:after,
*:before {
  box-sizing: inherit;
}
*[disabled] {
  display: none;
}
:root {
  --pane-margin: 2.0rem;
  --pane-margin-n: calc(-1 * var(--pane-margin));
  --line-height-base: 1.0;
}
@page {
  page-orientation: upright;
  size: 8.5in 11in;
  margin: 0rem;
}
html {
  box-sizing: border-box;
  font-size: 7px;
  background-color: rgb(248, 249, 250);
}
body {
  margin: auto;
  width: 8.5in;
  height: 11in;
  padding: 3rem; /* printer border */
  background-color: white;
  color: black;
  text-rendering: optimizeLegibility;
  font-family: 'Merriweather', serif;
  font-size: 1.6rem;
  font-weight: 300;
  letter-spacing: .01rem;
  line-height: calc(var(--line-height-base) + 0.4);
  box-shadow: 0px 2px 3px -2px rgba(0,0,0,0.6);
}
.mono *, pre {
  font-family: 'Roboto Mono', monospace !important;
}
p {
  text-align: justify;
  margin-top: 0;
}
ul {
  padding-inline-start: 2.8rem;
  margin-block-start: 0;
  margin-block-end: 0.4em;
	list-style: circle outside;
}
tbody { 
  vertical-align: top;
}

b, strong {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  letter-spacing: -.1rem;
  margin-bottom: 0.4em;
  margin-top: 0;
}
h1 {
  font-weight: 500;
  font-size: 4.6rem;
  line-height: calc(var(--line-height-base) + 0.0);;
}
h2 {
  font-size: 3.6rem;
  line-height: calc(var(--line-height-base) + 0.05);
}
h3 {
  font-size: 2.8rem;
  line-height: calc(var(--line-height-base) + 0.1);
  font-weight: normal;
}
h4 {
  font-size: 2.4rem;
  letter-spacing: -.08rem;
  line-height: calc(var(--line-height-base) + 0.15);
  font-weight: normal;
}
h5 {
  font-size: 2.0rem;
  letter-spacing: -.05rem;
  line-height: calc(var(--line-height-base) + 0.3);
}
h6 {
  font-size: 1.8rem;
  letter-spacing: 0;
  line-height: calc(var(--line-height-base) + 0.4);
}
table {
  width: 100%;
}
td h3 {
  margin: 0;
}
.center-text {
  text-align: center;
}
.right-text {
  text-align: right;
}
.left-text {
  text-align: left;
}
.no-wrap {
  white-space: nowrap;
}
.layout {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.pane {
  padding: var(--pane-margin);
  position: relative;
}
.left.pane {
  border-right: 1px solid black;
}
.left .banner {
  padding-left: var(--pane-margin);
  padding-right: var(--pane-margin);
  margin-left: var(--pane-margin-n);
  margin-right: var(--pane-margin-n);
  border: 1px solid black;
  border-width: 1px 0;
}
.banner {
  overflow: auto;
  border-bottom: 1px solid black;
  padding-top: 1.0rem;
  margin-bottom: 1.0rem;
  letter-spacing: 0.1rem;
}
ul.biglist li,
ul.inline li {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.4rem;
  margin: 0;
  line-height: 1.35;
  font-weight: normal;
  list-style: none;
  margin-bottom: 0.4em;
}
ul.biglist,
ul.inline {
  padding: 0;
  margin: 0;
}
